* {
  font-family:  Guttman Hatzvi;
}



h1 {
  color: SeaGreen;
}


p,
li {
  font-size: 23px;
}


a {
  text-decoration: none;
}

style {
  direction: rtl;
}

.picture {
  position:relative;
   left:300px; top:50px;
}

.wholePage {
  background-image: url("/images/infopageBackground.png");

}
